In [54]:
import os
import pandas as pd

In [55]:
# Define the function "say_hello" so it prints "Hello!" when called.
def say_hello():
    print("Hello!")

In [56]:
say_hello()

Hello!

In [57]:
# Define the function "say_something" so it prints whatever is passed as the variable when called.
def say_something(something):
    return something

In [58]:
Jane_says = "Hi, my name is Jane. I'm learning Python!"
say_something(Jane_says)

"Hi, my name is Jane. I'm learning Python!"

In [59]:
passing_math_count = 29370
total_student_count = 39170

In [60]:
def passing_math_percent(pass_math_count, student_count):
    return pass_math_count / float(student_count) * 100

In [61]:
# Call the function.
passing_math_percent(passing_math_count, total_student_count)

74.9808526933878

In [64]:
my_grades = ["B", "C", "B", "D"]

In [65]:
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [66]:
my_grades.map({"B": "A", "C": "B", "D": "C"})

0    A
1    B
2    A
3    C
dtype: object

In [69]:
my_grades = [92.34, 84.56, 86.78, 98.32]
for grade in my_grades:
    print("{:.0f}".format(grade))

92
85
87
98

In [72]:
my_grades = [92.34, 84.56, 86.78, 98.32]
my_grades = pd.Series(my_grades)
my_grades

0    92.34
1    84.56
2    86.78
3    98.32
dtype: float64